@model Aleph.Web.Models.Card

@functions {
    string Opt(Microsoft.FSharp.Core.FSharpOption<string> opt)
    {
        return (Microsoft.FSharp.Core.FSharpOption<string>.get_IsSome(opt))
            ? opt.Value
            : null;
    }
}

<li class="list-group-item">
    <div class="row">
        <div class="col-md-2" style="padding-left:8px">
            <img src="@Url.Action("Get", "Images", new { width= 80, height = 80, id = "nothing" })" />
        </div>
        <div class="col-md-10">
            <code class="pull-right">@Opt(Model.code)</code>
            <h4 class="list-group-item-heading">@Model.title</h4>
            <p class="text-muted">@Opt(Model.desc)</p>
            <div class="list-inline">
                @foreach (var data in Model.data)
                {
                    <small class="text-muted">
                        <span>X</span>
                        <span>@data.Item2</span>
                    </small>
                    @:&nbsp;
                }
                <small class="text-muted pull-right">
                    @Opt(Model.aside)
                </small>
            </div>
        </div>
    </div>
</li>
